$colorPrimary:              #1779ba;
$colorSecondary:            #ffae00;

$colorBorders:              gray;

$colorTooltipBackground:    rgba(190, 190, 190, 0.7);

$colorCountries:            lightblue;
