@import '../../../styles/color-scheme.scss';

$colorPrimary:              $primaryColor;
$colorSecondary:            $secondaryColor;

$colorBorders:              $grayColorDark;
$colorBordersLight:         $grayColorLight;

$colorStrikesFillActive:    rgba(255, 174, 0, 0.7);
$colorTooltipBackground:    rgba(190, 190, 190, 0.7);

$colorCountries:            $primaryColorLight;
